{% extends 'video_games/base.html' %}

{% block content %}
<h1 class="text-light text-center my-3">Registration</h1>

<div class="container text-light p-3">
    <div class="row p-3  justify-content-center">
    <div class="col-3 text-secondary p-3 border border-secondary rounded" >
    <form method="post">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}

    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>
        <p>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Register</button>

    </form>
    </div>
        </div>
</div>
{% endblock %}
